
.navbar-brand {
    margin-left: 30px;
    font-size: 24px;
    color: white;
    font-weight: 700;
}

.navbar-nav .nav-link {
    color: white;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: orange; 
}

.two-column-layout {
    padding: 30px;
    background-color: white;  
    margin-top: 70px;  
}

.image-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-column img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.content-column {
    padding-left: 30px;
}

.content-column h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content-column p {
    font-size: 18px;
    text-align: justify;
    line-height: 1.6;
}


.footer {
    background-color: #343a40;
    color: white;
    width: 100%;
    
}

.row p{
    text-align: justify;
}
.row i{
    font-size: 30px;
    margin-left:-160px;
}

.row i:hover{
    color:orange;
}
